.dropzone_container {
  width: 500px;
  height: 150px;
  // position: absolute;
  border: 3px dashed gray;
  border-radius: 5px;
  // right: -250px;
  // top: 35px;
  // z-index: 10;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}